<form [formGroup]="fg">
  <div class="form-group">
    <label [attr.for]="formId + '-name'">Your Name</label>
    <app-saving-status [saving]="fcName.saving"></app-saving-status>
    <input
      [attr.id]="formId + '-name'"
      type="text"
      class="form-control"
      placeholder="Your Name"
      formControlName="name"
      [ngxFireControl]="ref.child('name')"
      #fcName="ngxFireControl"
      debounce="1000"
      (blur)="fcName.save()">
  </div>
  <div class="form-group">
    <div class="form-check">
      <input
        [attr.id]="formId + 'agree_to_tos'"
        class="form-check-input"
        type="checkbox"
        formControlName="agree_to_tos"
        [ngxFireControl]="ref.child('agree_to_tos')"
        #fcAgree="ngxFireControl"
        [value]="true">
      <label class="form-check-label"
        [attr.for]="formId + 'agree_to_tos'">Yes! I gladly agree to your burdensome terms of service!</label>
      <app-saving-status [saving]="fcAgree.saving"></app-saving-status>
    </div>
  </div>
  <h4>Preferences</h4>
  <div formGroupName="preferences">
    <div class="form-group">
      <input type="hidden" formControlName="favorite_color"
        [ngxFireControl]="ref.child('preferences/favorite_color')" #fcPrefsColor="ngxFireControl">
      <label>Favorite Color</label>
      <app-saving-status [saving]="fcPrefsColor.saving"></app-saving-status>
      <br>
      <div class="form-check form-check-inline" *ngFor="let c of colors; let i = index">
        <input
          [attr.id]="formId + '-preferences-favorite_color-' + i"
          class="form-check-input"
          type="radio"
          formControlName="favorite_color"
          [value]="c.value">
        <label class="form-check-label"
          [attr.for]="formId + '-preferences-favorite_color-' + i">{{c.label}}</label>
      </div>
    </div>
  </div>
  <div formArrayName="friends"
    [ngxFireArray]="ref.child('friends')"
    [controlFactory]="createFriendFg"
    #faFriends="ngxFireArray">
    <h4>
      Friends ({{faFriends.length}})
      <app-saving-status [saving]="faFriends.saving"></app-saving-status>
    </h4>
    <form [formGroup]="faFriends.addControl"
        (ngSubmit)="faFriends.push(faFriends.addControl.value); faFriends.addControl.patchValue({name: ''})">
      <div class="form-group">
        <label [attr.for]="formId + 'add-friend-name'">Add Friend</label>
        <div class="input-group">
          <input type="text"
            [attr.id]="formId + 'add-friend-name'"
            class="form-control"
            placeholder="Friend's name"
            formControlName="name"
            aria-label="Friend's name"
            [attr.aria-describedby]="formId + 'add-friend-submit'">
          <div class="input-group-append">
            <button
              [attr.id]="formId + 'add-friend-submit'"
              class="btn btn-success"
              type="submit"
              [disabled]="faFriends.addControl.invalid">
              <i class="fas fa-plus"></i>
              <span class="sr-only">Add Friend</span>
            </button>
          </div>
        </div>
      </div>
    </form>

    <div
      class="card card-body mb-4"
      *ngFor="let friendFg of faFriends.controls; let friendIndex=index;"
      [formGroupName]="friendIndex">
      <div class="d-flex justify-content-between">
        <h5>Friend #{{friendIndex + 1}}: {{fcFriendName.value | async}}</h5>
        <div class="d-flex">
          <div class="d-flex">
            <div class="mr-2">
              <button type="button"
                class="btn btn-secondary btn-sm"
                [disabled]="friendIndex === 0"
                (click)="faFriends.move(friendIndex, friendIndex-1)">
                <i class="fas fa-caret-up"></i>
                <span class="sr-only">Move Friend Up</span>
              </button>
            </div>
            <div>
              <button type="button"
                class="btn btn-secondary btn-sm"
                [disabled]="friendIndex === fg.get('friends').length - 1"
                (click)="faFriends.move(friendIndex, friendIndex+1)">
                <i class="fas fa-caret-down"></i>
                <span class="sr-only">Move Friend Down</span>
              </button>
            </div>
          </div>
          <div class="ml-4">
            <button type="button" class="btn btn-danger btn-sm" (click)="faFriends.remove(friendIndex)">
              <i class="fas fa-times"></i>
              <span class="sr-only">Delete Friend</span>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label [attr.for]="formId + 'friend-' + friendIndex + '-name'">Friend Name</label>
        <app-saving-status [saving]="fcFriendName.saving"></app-saving-status>
        <input
          [attr.id]="formId + 'friend-' + friendIndex + '-name'"
          type="text"
          class="form-control"
          placeholder="Friend Name"
          formControlName="name"
          [ngxFireControl]="faFriends.ref.child(friendIndex).child('name')"
          #fcFriendName="ngxFireControl"
          debounce="1000"
          (blur)="fcFriendName.save()">
      </div>
      <div class="form-group">
        <div class="form-check">
          <input
            [attr.id]="formId + 'friend-' + friendIndex + '-imaginary'"
            class="form-check-input"
            type="checkbox"
            formControlName="imaginary"
            [ngxFireControl]="faFriends.ref.child(friendIndex).child('imaginary')"
            #fcFriendImaginary="ngxFireControl"
            [value]="true">
          <label class="form-check-label"
            [attr.for]="formId + 'friend-' + friendIndex + '-imaginary'">This is an imaginary friend.</label>
          <app-saving-status [saving]="fcFriendImaginary.saving"></app-saving-status>
        </div>
      </div>
      <h6>Friend Preferences</h6>
      <div formGroupName="preferences">
        <div class="form-group">
          <input type="hidden"
          formControlName="favorite_color"
          [ngxFireControl]="faFriends.ref.child(friendIndex).child('preferences/favorite_color')"
          #fcFriendPrefsColor="ngxFireControl">
          <label>Favorite Color</label>
          <app-saving-status [saving]="fcFriendPrefsColor.saving"></app-saving-status>
          <br>
          <div class="form-check form-check-inline" *ngFor="let c of colors; let i = index">
            <input
              [attr.id]="formId + 'friend-' + friendIndex + '-fave-color-' + i"
              class="form-check-input"
              type="radio"
              formControlName="favorite_color"
              [value]="c.value">
            <label class="form-check-label"
              [attr.for]="formId + 'friend-' + friendIndex + '-fave-color-' + i">{{c.label}}</label>
          </div>
        </div>
      </div>
      <div formArrayName="tags" [ngxFireArray]="faFriends.ref.child(friendIndex).child('tags')" #faFriendTags="ngxFireArray">
        <h6>
          Tags ({{faFriendTags.length}})
          <app-saving-status [saving]="faFriendTags.saving"></app-saving-status>
        </h6>
        <div class="form-group">
          <label [attr.for]="formId + 'friend-' + friendIndex  + '-add-tag'">Add Friend Tag</label>
          <div class="input-group">
            <input type="text"
              [attr.id]="formId + 'friend-' + friendIndex  + '-add-tag'"
              class="form-control"
              placeholder="Add Tag"
              [formControl]="faFriendTags.addControl"
              aria-label="Add Tag"
              (keydown.enter)="submit.click()"
              [attr.aria-describedby]="formId + 'friend-' + friendIndex  + '-add-tag-submit'">
            <div class="input-group-append">
              <button
                #submit
                [attr.id]="formId + 'friend-' + friendIndex  + '-add-tag-submit'"
                class="btn btn-success"
                type="button"
                (click)="faFriendTags.push(faFriendTags.addControl.value); faFriendTags.addControl.setValue('')"
                [disabled]="faFriendTags.addControl.invalid">
                <i class="fas fa-plus"></i>
                <span class="sr-only">Add Friend Tag</span>
              </button>
            </div>
          </div>
        </div>
        <div class="d-flex flex-wrap">
          <div class="mr-2 my-2 d-flex" *ngFor="let ctrl of faFriendTags.controls; let tagIndex=index">
            <div class="input-group input-group-sm">
              <input type="text"
                class="form-control"
                placeholder="Tag"
                [formControlName]="tagIndex"
                aria-label="Tag"
                [ngxFireControl]="faFriendTags.ref.child(tagIndex)"
                debounce="1000"
                #fcTag="ngxFireControl">
              <div class="input-group-append">
                <button
                  class="btn btn-danger"
                  type="button"
                  (click)="$event.preventDefault(); faFriendTags.remove(tagIndex)">
                  <i class="fas fa-times"></i>
                  <span class="sr-only">Delete Tag</span>
                </button>
              </div>
            </div>
            <app-saving-status [saving]="fcTag.saving"></app-saving-status>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
