<form [formGroup]="fg" [ngxFireRef]="baseRef">
  <div class="form-group">
    <label [attr.for]="formId + '-name'">
      Your Name
    </label>
    <app-save-status class="d-inline-block ml-4" [saving]="fcName.saving"></app-save-status>
    <input
      [attr.id]="formId + '-name'"
      type="text"
      class="form-control"
      placeholder="Your Name"
      formControlName="name"
      ngxFireControl
      #fcName="ngxFireControl"
      debounce="1000"
      (blur)="fcName.save()">
  </div>
  <h4>Preferences</h4>
  <div formGroupName="preferences">
    <div class="form-group">
      <label>Favorite Color</label>
      <app-save-status class="d-inline-block ml-4" [saving]="fcFavoriteColor.saving"></app-save-status>
      <br>
      <div class="form-check form-check-inline" *ngFor="let c of colors; let i = index">
        <input
          [attr.id]="formId + '-preferences-favorite_color-' + i"
          class="form-check-input"
          type="radio"
          formControlName="favorite_color"
          [value]="c.value">
        <label class="form-check-label"
          [attr.for]="formId + '-preferences-favorite_color-' + i">{{c.label}}</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          [attr.id]="formId + '-preferences-favorite_color-null'"
          class="form-check-input"
          type="radio"
          formControlName="favorite_color"
          [value]="null"
          ngxFireControl #fcFavoriteColor="ngxFireControl">
        <label class="form-check-label"
          [attr.for]="formId + '-preferences-favorite_color-null'">None</label>
      </div>

    </div>
  </div>

  <h4>
    Friends ({{fg.get('friends').length}})
  </h4>
  <form [formGroup]="addFriendFg"
    (ngSubmit)="faFriends.push(addFriendFg.value); addFriendFg.patchValue({name:''})">
    <div class="form-group">
      <label [attr.for]="formId + 'addFriendFg-name'">Add Friend</label>
      <div class="input-group">
        <input
          [attr.id]="formId + 'addFriendFg-name'"
          type="text"
          class="form-control"
          placeholder="New Friend Name"
          aria-label="New Friend Name"
          formControlName="name">
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            [attr.id]="formId + 'add-friend-submit'"
            type="submit"
            [disabled]="addFriendFg.invalid">
            <i class="fas fa-plus"></i>
            <span class="sr-only">Add Friend</span>
          </button>
        </div>
      </div>
    </div>
  </form>
  <div formArrayName="friends" ngxFireArray #faFriends="ngxFireArray" [createChild]="createFriendFormGroup">
    <div class="card card-body mb-4" *ngFor="let friendFg of fg.get('friends').controls; let i = index" [formGroupName]="i">
      <div class="d-flex justify-content-between">
        <h5>Friend #{{i + 1}}: {{fcFriendName.value | async}}</h5>
        <div class="d-flex">
          <div class="ml-4 d-flex">
            <div>
              <button class="btn btn-light btn-sm"
                [disabled]="i===0"
                (click)="faFriends.move(i, i - 1)">
                <i class="fas fa-caret-up"></i>
                <span class="sr-only">Move Friend Up</span>
              </button>
            </div>
            <div class="ml-2">
              <button class="btn btn-light btn-sm"
                [disabled]="i===fg.get('friends').length - 1"
                (click)="faFriends.move(i, i + 1)">
                <i class="fas fa-caret-down"></i>
                <span class="sr-only">Move Friend Down</span>
              </button>
            </div>

          </div>
          <div class="ml-4">
            <button class="btn btn-danger btn-sm" (click)="faFriends.remove(i)">
              <i class="fas fa-times"></i>
              <span class="sr-only">Remove Friend</span>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label [attr.for]="formId + 'friends-' + i + '-name'">Name</label>
        <app-save-status class="d-inline-block ml-4" [saving]="fcFriendName.saving"></app-save-status>
        <input
          [attr.id]="formId + 'friends-' + i + '-name'"
          type="text"
          class="form-control"
          placeholder="Friend Name"
          aria-label="Friend Name"
          formControlName="name"
          ngxFireControl
          #fcFriendName="ngxFireControl"
          debounce="1000"
          (blur)="fcFriendName.save()">
      </div>
      <div class="form-group">
        <div class="form-check">
          <input
            [attr.id]="formId + 'friends-' + i + '-imaginary'"
            class="form-check-input"
            type="checkbox"
            formControlName="imaginary"
            [value]="true"
            ngxFireControl
            #fcFriendImaginary="ngxFireControl">
          <label class="form-check-label" [attr.for]="formId + 'friends-' + i + '-imaginary'">
            This is an imaginary friend.
          </label>
          <app-save-status class="d-inline-block ml-4" [saving]="fcFriendImaginary.saving"></app-save-status>
        </div>
      </div>
      <h5>Tags ({{friendFg.get('tags').length}})</h5>
      <form class="form-group"
        [formGroup]="friendFg.get('addTag')"
        (ngSubmit)="faTags.push(friendFg.get('addTag.tag').value); friendFg.get('addTag').setValue({tag: ''})">
        <input
          [attr.id]="formId + 'friends-' + i + '-addTag'"
          type="text"
          class="form-control"
          placeholder="Add Tag"
          aria-label="Add Tag"
          formControlName="tag">
      </form>
      <div formArrayName="tags" ngxFireArray #faTags="ngxFireArray">
        <div class="d-inline-block ml-2" *ngFor="let tag of (faTags.value | async); let n = index">
          {{tag}}
          <input type="hidden"
            [formControlName]="n"
            ngxFireControl
            #fcTag="ngxFireControl">
          <a href="#" (click)="$event.preventDefault();faTags.remove(n)" class="badge badge-danger">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>

    </div>
  </div>
</form>
